.form-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

mat-card {
  width: 500px;
  padding: 1rem;
}

.full-width {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button {
    margin-left: 0.5rem;
  }
}
